.nav-wrapper {
    padding: 10px 20px; 
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    display:contents;
    align-items: center;
}
  .show-burger {
    display: inline-block !important;
  }
  
  .sidenav {
    padding-top:  64px; 
    z-index: -1 !important;
    transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28); 
  }

  .sidenav.open {
    transform: translateX(0);
  }
  
  .sidenav.close {
    transform: translateX(-100%); 
  }

  .sidenav-overlay {
    opacity: 0 !important;
    z-index: -1;
  }

.material-icons {
    font-size: 2rem !important;
    font-weight: bolder;
    margin: 2px 10px 0px 10px;
    cursor: pointer !important;
}

.brand-logo {
    margin: 0px 5px 0px 5px !important;
}

.hide-on-med-and-down{
    margin: 0px 15px !important;
}

.navbar-fixed {
    top: 0;
    width: 100%;
    z-index: 1000;
}

